<template>
  <div>
    <loading :active.sync="isLoading" :can-cancel="true"></loading>
    <div class="container">
			<div class="row">
				<div class="col-md-12">
					<img src="https://www.theedgesusu.co.uk/wp-content/uploads/2016/01/studio_ghibli.jpg" 
					alt="Images of ghibli"
					style="width: 100%">
				</div>
			</div>
      <div class="row">
        <div class="col-md-12">
          <div class="pt-3">
            <p class="text-justify">
							Studio Ghibli, Inc. (Japanese: 株式会社スタジオジブリ Hepburn: Kabushiki gaisha Sutajio Jiburi) is a Japanese animation film studio based in Koganei, Tokyo, Japan. The studio is best known for its anime feature films, and has also produced several short films, television commercials, and one television film. It was founded on 15 June 1985, after the success of Nausicaä of the Valley of the Wind (1984), with funding by Tokuma Shoten. Six of Studio Ghibli's films are among the 15 highest-grossing anime films made in Japan, with Spirited Away (2001) being the second highest, grossing over US$290 million worldwide. Many of their works have won the Animage Anime Grand Prix award, and four have won the Japan Academy Prize for Animation of the Year. Five of Studio Ghibli's films have received Academy Award nominations. Spirited Away won the Golden Bear in 2002 and the Academy Award for Best Animated Feature Film in 2003. Totoro, a character from My Neighbor Totoro, is the studio's mascot. On 3 August 2014, Studio Ghibli announced it was temporarily halting production following the retirement of director Hayao Miyazaki, who co-founded the studio with the late Isao Takahata. On February 2017, Toshio Suzuki announced that Miyazaki had come out of retirement again to direct a new feature film, How Do You Live?, with Studio Ghibli.</p>
          </div>
        </div>
      </div>
      <div class="row">
				<div class="col-md-12">
					<h4>Film List</h4>
				</div>
				
        <div v-for="(data, index) in ghibliFilms" :key="index" class="col-md-4 col-sm-6">
          <h5>
            <router-link :to="'films/' + data.id">{{data.title}}</router-link>
          </h5>
          <table class="table table-bordered">
            <tr>
              <td>Director</td>
              <td>{{data.director}}</td>
            </tr>
            <tr>
              <td>Producer</td>
              <td>{{data.producer}}</td>
            </tr>
            <tr>
              <td>Release Date</td>
              <td>{{data.release_date}}</td>
            </tr>
            <tr>
              <td>Rating</td>
              <td>{{data.rt_score}}</td>
            </tr>
          </table>
          <hr>
        </div>
      </div>

			<div class="row">
				<div class="col-md-12" style="background: #DB994D">
					<div class=" p-3">
						<div class="text-center">
							&copy; Resky Adi Nugraha | 2018
						</div>
					</div>
				</div>
			</div>
    </div>
  </div>
</template>


<script>
import { mapActions, mapGetters } from "vuex";

import Loading from "vue-loading-overlay";

import "vue-loading-overlay/dist/vue-loading.css";

export default {
  data() {
    return {
      isLoading: true
    };
  },
  components: {
    Loading
  },
  methods: {
    ...mapActions(["getGhibliFilms"])
  },
  async created() {
    await this.getGhibliFilms();
    this.isLoading = false;
  },
  computed: {
    ...mapGetters({
      ghibliFilms: "getGhibliFilmsData"
    })
  }
};
</script>
