<template>
  <div id="main-app">
    <div class="row">
      <div class="col-md-12" style="background: #DB994D">
        <div class="container p-3">
          <router-link to="/">
            <span class="pr-2 pl-2" style="color: white">HOME</span>
          </router-link>
          <router-link to="/films">
            <span class="pr-2 pl-2" style="color: white">FILMS</span>
          </router-link>
          <router-link to="/people">
            <span class="pr-2 pl-2" style="color: white">PEOPLE</span>
          </router-link>
          <router-link to="/locations">
            <span class="pr-2 pl-2" style="color: white">LOCATIONS</span>
          </router-link>
          <router-link to="/species">
            <span class="pr-2 pl-2" style="color: white">SPECIES</span>
          </router-link>
          <router-link to="/vehicles">
            <span class="pr-2 pl-2" style="color: white">VEHICLES</span>
          </router-link>
        </div>
      </div>
    </div>
    <router-view/>
  </div>
</template>


<script>
export default {
  
}
</script>
